{% extends "../layout.html" %}

{% block searchbar %}
{% include './searchbar.html' %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope='col' id='0'>Employee id</th>
            <th scope='col' id='1'>Employee name</th>
            <th scope='col' id='2'>Employee salary</th>
            <th scope='col' id='3'>Birthday</th>
            <th scope='col' id='4'>Department</th>
            <th scope='col'></th>
            <th scope='col'></th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.fullname }}</td>
                <td>{{ emp.salary }}</td>
                <td>{{ emp.bday }}</td>
                <td>{{ emp.department }}</td>
                <td style="text-align: center;"><a href="{% url 'edit_employee' obj_id=emp.id %}" class="btn btn-sm btn-secondary">Edit</a></td>
                <td style="text-align: center;"><a href="{% url 'delete_employee' obj_id=emp.id %}" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <a href="{% url 'add_employee' %}" class="btn btn-success mx-3 px-4">Add</a>
</div>
{% endblock content%}
