{% extends "layout.html" %}
{% block header %}
    <div class="header">
        <a href="{{ url_for('departments.index') }}">Departments</a>
        <a href="{{ url_for('employees.index') }}">Employees</a>
    </div>
{% endblock header %}
{% block main %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes"></ul>
            {% for category, message in messages %}
                <li class="flashed-message flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="item">
        <h2>Edit employee</h2>
        <form method="POST">
            <label for="fullname">Employee's fullname: </label>
            <input type="text" name="fullname" value="{{ emp.fullname }}" id="fullname">
            <br>
            <label for="dep_name">Department name: </label>
            <select class="combo" name="department" id="dep_name">
                 <option disabled>Choose a department</option>
                {% for dep in departments %}
                    {% if dep.name == emp.department.name %}
                        <option selected>{{ emp.department.name }}</option>
                    {% else %}
                        <option>{{ dep.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <label for="salary">Employee's salary: </label>
            <input type="number" name="salary" min=0 id="salary" value={{ emp.salary }}>
            <br>
            <label for="bday">Employee's birthday: </label>
            <input type="date" name="bday" id="bday" max="2002-12-31" min="1960-01-01" value="{{ emp.bday.strftime('%Y-%m-%d') }}">
            <br>
            <div>
                <a href="{{ url_for('employees.edit', employee_id=emp.id) }}"><button class="btn edit-btn" id="add_btn">Save</button></a>
                <a href="{{ url_for('employees.index') }}" class="btn delete-btn" id="cancel_btn">Cancel</a>
            </div>
        </form>
    </div>
{% endblock main %}

{% block script %}
    <script src="{{ url_for('static', filename='disableButtons.js') }}""></script>
{% endblock script %}