<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>
            {% if title %}
                {{ title }}
            {% else %}
                Department App
            {% endif %}
        </title>
    </head>
    <body>
        <header>
            {% block header %} {% endblock header %}
        </header>
        <main>
            {% block main %} {% endblock main %}
        </main>
    </body>
    {% block script %}{% endblock script %}
</html>
