* {
    margin: 0;
    padding: 0
}

body {
    background-color: #d5d5d5;
    font-family: 'Courier New', monospace;
}

.header-links {
    padding: 10px;
    margin: 10px 0px;
    list-style: none;
}

.header-links li a {
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 600;
    color: #5c5e5c;
}

.header-links li a:hover {
    text-decoration: underline;
    color: black;
}

.search-bar {
    width: 20%;
}

th {
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
}

.headerSortDown:after,
.headerSortUp:after {
  content: " ";
  position: relative;
  left: 10px;
  border: 7px solid transparent;
}
.headerSortDown:after {
  top: 16px;
  border-top-color: silver;
}
.headerSortUp:after {
  bottom: 15px;
  border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp {
  padding-left: 20px;
}
.headerSortDown:hover,
.headerSortUp:hover {
  cursor: pointer;
}